<!DOCTYPE html>
<html
        lang="en"
        data-th-fragment="layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="base-fragment::head"></th:block>
    <title>Добавете детайл</title>
<body>
<header th:replace="base-fragment::header"></header>

<div class="box">
    <div class="container justify-content-center">

        <label>Добавете детайл </label>
        <form class="centred" action="#" th:action="@{/details/add-new-detail}" th:object="${detail}" method="post">
            <p>Име на детайла</p>
            <div class="form-group">
                <input type="text" th:field="*{detail.name}" class="form-control" />
            </div>

            <p>Цвят</p>
            <div class="form-group">
                <input type="text" th:field="*{leatherColor}" class="form-control" />
            </div>

            <p>
               <button class="btn btn-style w-75" type="submit">
                Изпрати
               </button>
            </p>
        </form>
    </div>
    <img src="/css/detail-close.png">
</div>
</body>
</html>