<!DOCTYPE html>
<html
        lang="en"
        data-th-fragment="layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="base-fragment::head"></th:block>
    <title>Всички детайли</title>
</head>
<body>
<header th:replace="base-fragment::header"></header>

<div class="box">
    <div class="container justify-content-center">
        <label>Всички детайли </label>
        <div th:if="${not #lists.isEmpty(allDetails)}">
            <div class="scrollbar">
                <table class="table table-borderless">
                    <tr>
                        <th>Детайл</th>
                        <th>Брой</th>
                    </tr>
                    <tr th:each="detail: ${allDetails}">
                        <td th:text="${detail.name}"></td>
                        <td th:text="${detail.amount}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(allDetails)}">
            <p class="nothing-added">Няма добавени детайли</p>
        </div>

        <div th:if="${not #lists.isEmpty(allDetails)}">
            <label>Брой на изработените детайли</label>
            <p class="centred" th:text="${allDetails.size()}"></p>
        </div>
    </div>
    <img src="/css/detail.png">
</div>
</body>
</html>