<!DOCTYPE html>
<html
        lang="en"
        data-th-fragment="layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="base-fragment::head"></th:block>
    <title>Всички служители</title>
</head>
<body>
<header th:replace="base-fragment::header"></header>

<div class="box">
    <div class="container justify-content-center">
        <label>Всички служители </label>
        <div th:if="${not #lists.isEmpty(allEmployees)}">
            <div class="scrollbar employees-scrollbar">
                <table class="table table-borderless">
                    <tr th:each="employee: ${allEmployees}">
                        <td>
                            <form class = "employee-details-container" data-th-action="@{/created-details}" method="POST">
                                <p th:text="${employee.name}"></p>
                                <p th:text="${employee.status.getStatus()}"></p>
                                <input type="hidden" name="id" data-th-value="${employee.id}" />
                                <button type="submit" class="btn btn-style w-70">Изработени детайли</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(allEmployees)}">
            <p class="nothing-added">Няма добавени служители</p>
        </div>
    </div>
    <img src="/css/employee.png">
</div>
</body>
</html>