<!DOCTYPE html>
<html
        lang="en"
        data-th-fragment="layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="base-fragment::head"></th:block>
    <title>Отчет</title>
</head>
<body>
<header th:replace="base-fragment::header"></header>

<div class="box">
    <div class="container justify-content-center">
        <label>Отчет</label>
        <div th:if="${company != null}">
           <form class="centred output" action="#" th:action="@{/funds}" th:object="${company}" method="get">
            <p>Приходи</p>
            <div class="form-group">
                <input type="text" name="id" data-th-value="${company.getProfit()}" readonly class="form-control"/>
            </div>

            <p>Разходи</p>
            <div class="form-group">
                <input type="text" name="id" data-th-value="${company.loss}" readonly class="form-control"/>
            </div>

            <p>Печалба</p>
            <div class="form-group">
                <input type="text" name="id" data-th-value="${company.income}" readonly class="form-control"/>
            </div>

            <p>Печалба след ДДС</p>
            <div class="form-group">
                <input type="text" name="id" data-th-value="${company.netIncome}" readonly class="form-control"/>
            </div>
        </form>
        </div>
        <div th:if="${#object.company == null}">
            <p class="nothing-added">Няма добавена информация за фирмата</p>
        </div>
    </div>
    <img src="/css/car.png">
</div>
</body>
</html>