<!DOCTYPE html>
<html
        lang="en"
        data-th-fragment="layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="base-fragment::head"></th:block>
    <title>Произведени детайли от служител</title>
</head>
<body>
<header th:replace="base-fragment::header"></header>

<div class="box">
    <div class="container justify-content-center">
        <label>Изработени детайли </label>
        <div th:if="${not #maps.isEmpty(employeeDetails)}">
            <div class="scrollbar">
                <table class="table table-borderless">
                    <tr>
                        <th>Детайл</th>
                        <th>Брой</th>
                    </tr>
                    <tr th:each="createdDetail: ${employeeDetails}">
                        <td th:text="${createdDetail.key.name}"></td>
                        <td th:text="${createdDetail.value}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div th:if="${#maps.isEmpty(employeeDetails)}">
            <p class="nothing-added">Няма добавени детайли</p>
        </div>
    </div>
    <img src="/css/detail-close.png">
</div>
</body>
</html>