<!DOCTYPE html>
<html
        lang="en"
        data-th-fragment="layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="base-fragment::head"></th:block>
    <title>Характеристики</title>
</head>
<body>
<header th:replace="base-fragment::header"></header>

<div class="box">
    <div class="container justify-content-center">
        <label>Характеристики за служителите</label>
        <form class="centred" action="#" th:action="@{/employees/characteristics}" th:object="${employeeStatusCharacteristics}" method="post">
            <p>Вид служител</p>
            <select class="form-control mdb-select md-form colorful-select dropdown-primary" th:field="*{employeeStatus}">
                <option th:each="status : ${T(com.company.company.entities.EmployeeStatus).values()}"
                        th:value="${status}"
                        th:text="${status.getStatus()}">
                </option>
            </select>

            <p>Заплащане на час</p>
            <div class="form-group">
                <input type="number" th:field="*{statusSalary}" class="form-control" />
            </div>

            <p>Максимален брой детайли за изработване</p>
            <div class="form-group">
                <input type="number" th:field="*{maxDetails}" class="form-control" />
            </div>

            <p>
                <button class="btn btn-style w-75" type="submit">
                    Изпрати
                </button>
            </p>
        </form>
    </div>
    <img src="/css/employee.png">
</div>
</body>
</html>