<!DOCTYPE html>
<html
        lang="en"
        data-th-fragment="layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="base-fragment::head"></th:block>
    <title>Информация</title>
</head>
<body>
<header th:replace="base-fragment::header"></header>

<div class="box">
    <div class="container justify-content-center">
        <label>Информация за фирмата</label>
        <form class="centred" action="#" th:action="@{/}" th:object="${company}" method="post">
                <p>Име на фирмата</p>
                <div class="form-group">
                    <input type="text" th:field="*{name}" class="form-control" />
                </div>

                <p>МОЛ</p>
                <div class="form-group">
                    <input type="text" th:field="*{owner}" class="form-control" />
                </div>

                <p>БУЛСТАТ</p>
                <div class="form-group">
                    <input type="text" th:field="*{bulstat}" class="form-control" />
                </div>

                <p>Адрес</p>
                <div class="form-group">
                    <input type="text" th:field="*{address}" class="form-control" />
                </div>

                <p>
                    <button class="btn btn-style w-75" type="submit">
                        Изпрати
                    </button>
                </p>
            </form>
    </div>
    <img src="/css/car.png">
</div>
</body>
</html>

